services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app-monolito-backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./backend:/app/backend
    # deploy:
    #   resources:
    #     limits:
    #       cpus: "${APP_CPU_LIMIT}"
    #       memory: "${APP_MEM_LIMIT}"
    networks:
      - backend
  db:
    image: postgres:16
    container_name: gases-db
    restart: always
    ports:
      - "${DB_PORT}:${DB_PORT}"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - backend

volumes:
  db_data:


networks:
  backend:
    driver: bridge